<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mobi.rayson.mapper.SeckillMapper">

  <select id="countLeft" parameterType="java.lang.Long" resultType="java.lang.Long">
    select number
    from seckill
    where seckill_id = #{seckillId}
  </select>

  <update id="updateNumber" parameterType="java.lang.Long">
    update seckill
    set number = number - 1
    where seckill_id = #{seckillId}
  </update>
</mapper>